@using XT2016_3.Auction.WebUI.Models
@{
    Page.Title = "Login";
    string login = Request["login"];
    string password = Request["password"];
}
@if (IsPost)
{
    if (LogicProvider.UserLogic.CanLogin(login, password))
    {
        FormsAuthentication.SetAuthCookie(login, createPersistentCookie: false);
        var returnUrl = Request["ReturnUrl"];
        if (string.IsNullOrWhiteSpace(returnUrl))
        {
            returnUrl = "~";
        }
        Response.Redirect(returnUrl);
        return;
    }
    else
    {
        <div class="container">
            <div class="alert alert-danger">
                <p>Account with this login/password is not exist</p>
                <a href="~/Pages/Users/Registration">Go to registration</a>
            </div>
        </div>
    }
}
<div class="container">
    <form id="logForm" action="~/Pages/Users/Login" method="post" class="form-horizontal">
        <legend class="text-center">Login</legend>
        <input type="hidden" name="ReturnUrl" value="@Request["ReturnUrl"]" />
        <div class="form-group">
            <label class="control-label col-sm-2" for="login">Login:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" autocomplete="off" id="login" name="login" placeholder="Enter login" value="@login" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="password">Password:</label>
            <div class="col-sm-10">
                <input type="password" class="form-control" autocomplete="off" id="password" name="password" placeholder="Enter password" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-success">Login</button>
            </div>
        </div>
    </form>
</div>
@section scripts{
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/additional-methods.min.js"></script>
    <script src="~/Scripts/customValidation/Login.js"></script>
}