USE [master]
GO
/****** Object:  Database [Auction]    Script Date: 2/3/2017 9:15:51 PM ******/
CREATE DATABASE [Auction]
 CONTAINMENT = NONE

ALTER DATABASE [Auction] SET COMPATIBILITY_LEVEL = 110
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Auction].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Auction]
GO
/****** Object:  StoredProcedure [dbo].[add_image]    Script Date: 2/3/2017 9:15:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[add_image]
	@content_type nvarchar(50),
	@data varbinary(MAX)
AS
BEGIN
	INSERT INTO dbo.[Image] (content_type, data)
	VALUES (@content_type, @data);
	SELECT SCOPE_IDENTITY();
END

GO
/****** Object:  StoredProcedure [dbo].[add_image_to_product]    Script Date: 2/3/2017 9:15:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[add_image_to_product] 
	@product_id int,
	@image_id int
AS
BEGIN
	UPDATE dbo.[Product]
	SET id_image = @image_id
	WHERE id = @product_id
END

GO
/****** Object:  StoredProcedure [dbo].[add_product]    Script Date: 2/3/2017 9:15:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[add_product]
	@name nvarchar(200),
	@description nvarchar(300),
	@current_rate decimal(18,3),
	@buy_now bit,
	@ending_date datetime
AS
BEGIN
	INSERT INTO dbo.Product (name, [description], current_rate, buy_now, ending_date) 
	VALUES (@name, @description, @current_rate, @buy_now, @ending_date);
	SELECT scope_identity();
END

GO
/****** Object:  StoredProcedure [dbo].[add_product_to_user]    Script Date: 2/3/2017 9:15:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[add_product_to_user]
	@user_id int,
	@product_id int
AS
BEGIN
	INSERT INTO dbo.[User_Product] (id_user, id_product)
	VALUES (@user_id, @product_id);
END

GO
/****** Object:  StoredProcedure [dbo].[add_rate]    Script Date: 2/3/2017 9:15:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[add_rate] 
	@user_id int,
	@product_id int,
	@cost decimal(18,3)
AS
BEGIN
	INSERT INTO dbo.[User_Rate] (id_user, id_product, rate)
	VALUES (@user_id, @product_id, @cost);
END

GO
/****** Object:  StoredProcedure [dbo].[add_user]    Script Date: 2/3/2017 9:15:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[add_user]
	@login nvarchar(150),
	@password varbinary(max)
AS
BEGIN
	INSERT INTO dbo.[User] (login, password)
	VALUES (@login, @password);
	SELECT SCOPE_IDENTITY();
END

GO
/****** Object:  StoredProcedure [dbo].[change_role_to_user]    Script Date: 2/3/2017 9:15:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[change_role_to_user]
	@id int,
	@rolename nvarchar(50)
AS
BEGIN
	UPDATE dbo.[User]
	SET [role] = @rolename
	WHERE id = @id
END

GO
/****** Object:  StoredProcedure [dbo].[delete_product_for_admin]    Script Date: 2/3/2017 9:15:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[delete_product_for_admin]
	@product_id int
AS
BEGIN
	DELETE FROM dbo.[User_Product] WHERE id_product = @product_id;
	DELETE FROM dbo.Product WHERE id = @product_id;
END

GO
/****** Object:  StoredProcedure [dbo].[delete_product_for_user]    Script Date: 2/3/2017 9:15:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[delete_product_for_user]
	@user_id int,
	@product_id int
AS
BEGIN
	DELETE FROM dbo.[User_Product] WHERE id_user = @user_id AND id_product = @product_id;
	DELETE FROM dbo.Product WHERE id = @product_id;
END

GO
/****** Object:  StoredProcedure [dbo].[edit_product]    Script Date: 2/3/2017 9:15:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[edit_product]
	@product_id int,
	@name nvarchar(200),
	@description nvarchar(300),
	@current_rate decimal(18,3),
	@buy_now bit,
	@ending_date datetime
AS
BEGIN
	UPDATE dbo.[Product]
	SET name = @name, [description] = @description, current_rate = @current_rate, buy_now = @buy_now, ending_date = @ending_date
	WHERE id = @product_id
END

GO
/****** Object:  StoredProcedure [dbo].[get_all_accounts_for_rolename]    Script Date: 2/3/2017 9:15:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[get_all_accounts_for_rolename]
	@rolename nvarchar(50)
AS
BEGIN
	SET NOCOUNT ON;
	SELECT id, [login] FROM dbo.[User] WHERE [role] = @rolename;
END

GO
/****** Object:  StoredProcedure [dbo].[get_all_products]    Script Date: 2/3/2017 9:15:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[get_all_products]
AS
BEGIN
	SET NOCOUNT ON;
	SELECT p.id, p.name, p.current_rate, p.ending_date, p.buy_now, p.[description] FROM dbo.Product p
END

GO
/****** Object:  StoredProcedure [dbo].[get_all_rates]    Script Date: 2/3/2017 9:15:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[get_all_rates] 
AS
BEGIN
	SET NOCOUNT ON;
	SELECT id_user, id_product, rate FROM dbo.[User_Rate];
END

GO
/****** Object:  StoredProcedure [dbo].[get_id_for_login]    Script Date: 2/3/2017 9:15:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[get_id_for_login]
	@login nvarchar(150)
AS
BEGIN
	SET NOCOUNT ON;
	SELECT id FROM dbo.[User] WHERE login = @login
END

GO
/****** Object:  StoredProcedure [dbo].[get_image_data]    Script Date: 2/3/2017 9:15:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[get_image_data]
	@id int
AS
BEGIN
	SET NOCOUNT ON;
	SELECT i.data, i.content_type FROM dbo.[Image] i WHERE i.id = @id;
END

GO
/****** Object:  StoredProcedure [dbo].[get_imageId_by_data]    Script Date: 2/3/2017 9:15:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[get_imageId_by_data]
	@data varbinary(MAX)
AS
BEGIN
	SET NOCOUNT ON;
	SELECT i.id FROM Image i WHERE i.data = @data;
END

GO
/****** Object:  StoredProcedure [dbo].[get_password_for_user]    Script Date: 2/3/2017 9:15:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[get_password_for_user]
	@user_id int
AS
BEGIN
	SET NOCOUNT ON;
	SELECT password FROM dbo.[User] WHERE id = @user_id;
END

GO
/****** Object:  StoredProcedure [dbo].[get_product_image]    Script Date: 2/3/2017 9:15:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[get_product_image]
	@product_id int,
	@id int output
AS
BEGIN
	SET NOCOUNT ON;
	SET @id = (SELECT id_image FROM dbo.[Product] WHERE id = @product_id);
END

GO
/****** Object:  StoredProcedure [dbo].[get_products_of_user]    Script Date: 2/3/2017 9:15:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[get_products_of_user]
	@user_id int
AS
BEGIN
	SET NOCOUNT ON;
	SELECT id_product FROM dbo.[User_Product]
	WHERE id_user = @user_id;
END

GO
/****** Object:  StoredProcedure [dbo].[get_roles_for_user]    Script Date: 2/3/2017 9:15:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[get_roles_for_user]
	@login nvarchar(150)
AS
BEGIN
	SET NOCOUNT ON;
	SELECT role FROM dbo.[User] WHERE login = @login;
END

GO
/****** Object:  StoredProcedure [dbo].[get_user_id]    Script Date: 2/3/2017 9:15:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[get_user_id]
	@login nvarchar(150)
AS
BEGIN
	SET NOCOUNT ON;
	SELECT id FROM dbo.[User] WHERE login = @login;
END

GO
/****** Object:  Table [dbo].[Image]    Script Date: 2/3/2017 9:15:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Image](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[data] [varbinary](max) NOT NULL,
	[content_type] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Image] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Product]    Script Date: 2/3/2017 9:15:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](200) NOT NULL,
	[description] [nvarchar](300) NULL,
	[current_rate] [decimal](18, 3) NOT NULL,
	[buy_now] [bit] NOT NULL,
	[ending_date] [datetime] NOT NULL,
	[id_image] [int] NOT NULL CONSTRAINT [DF_Product_id_image]  DEFAULT ((1)),
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[User]    Script Date: 2/3/2017 9:15:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[User](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[login] [nvarchar](150) NOT NULL,
	[password] [varbinary](max) NOT NULL,
	[role] [nvarchar](50) NOT NULL CONSTRAINT [DF_User_role]  DEFAULT ('user'),
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[User_Product]    Script Date: 2/3/2017 9:15:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User_Product](
	[id_user] [int] NOT NULL,
	[id_product] [int] NOT NULL,
 CONSTRAINT [PK_User_Lot] PRIMARY KEY CLUSTERED 
(
	[id_user] ASC,
	[id_product] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[User_Rate]    Script Date: 2/3/2017 9:15:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User_Rate](
	[id_user] [int] NOT NULL,
	[id_product] [int] NOT NULL,
	[rate] [decimal](18, 3) NOT NULL
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Image] ON 

SET IDENTITY_INSERT [dbo].[Image] OFF
SET IDENTITY_INSERT [dbo].[Product] ON 

INSERT [dbo].[Product] ([id], [name], [description], [current_rate], [buy_now], [ending_date], [id_image]) VALUES (2, N'SecondTestProduct', N'...', CAST(202.000 AS Decimal(18, 3)), 0, CAST(N'2017-01-25 22:00:00.000' AS DateTime), 1)
INSERT [dbo].[Product] ([id], [name], [description], [current_rate], [buy_now], [ending_date], [id_image]) VALUES (3, N'TestProduct', N'...', CAST(300.006 AS Decimal(18, 3)), 0, CAST(N'2017-02-25 22:00:00.000' AS DateTime), 7)
INSERT [dbo].[Product] ([id], [name], [description], [current_rate], [buy_now], [ending_date], [id_image]) VALUES (4, N'FourthTestProduct', N'...', CAST(230.000 AS Decimal(18, 3)), 1, CAST(N'2017-01-28 22:43:29.223' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[Product] OFF
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([id], [login], [password], [role]) VALUES (2, N'user1', 0xA665A45920422F9D417E4867EFDC4FB8A04A1F3FFF1FA07E998E86F7F7A27AE3, N'user')
INSERT [dbo].[User] ([id], [login], [password], [role]) VALUES (3, N'user2', 0xA665A45920422F9D417E4867EFDC4FB8A04A1F3FFF1FA07E998E86F7F7A27AE3, N'admin')
INSERT [dbo].[User] ([id], [login], [password], [role]) VALUES (5, N'user3', 0xA665A45920422F9D417E4867EFDC4FB8A04A1F3FFF1FA07E998E86F7F7A27AE3, N'user')
SET IDENTITY_INSERT [dbo].[User] OFF
INSERT [dbo].[User_Product] ([id_user], [id_product]) VALUES (2, 3)
INSERT [dbo].[User_Product] ([id_user], [id_product]) VALUES (2, 7)
INSERT [dbo].[User_Product] ([id_user], [id_product]) VALUES (3, 2)
INSERT [dbo].[User_Rate] ([id_user], [id_product], [rate]) VALUES (2, 4, CAST(230.000 AS Decimal(18, 3)))
INSERT [dbo].[User_Rate] ([id_user], [id_product], [rate]) VALUES (2, 2, CAST(201.000 AS Decimal(18, 3)))
INSERT [dbo].[User_Rate] ([id_user], [id_product], [rate]) VALUES (2, 2, CAST(201.256 AS Decimal(18, 3)))
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Image] FOREIGN KEY([id_image])
REFERENCES [dbo].[Image] ([id])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Image]
GO
ALTER TABLE [dbo].[User_Product]  WITH CHECK ADD  CONSTRAINT [FK_User_Product_Product] FOREIGN KEY([id_product])
REFERENCES [dbo].[Product] ([id])
GO
ALTER TABLE [dbo].[User_Product] CHECK CONSTRAINT [FK_User_Product_Product]
GO
ALTER TABLE [dbo].[User_Product]  WITH CHECK ADD  CONSTRAINT [FK_User_Product_User] FOREIGN KEY([id_user])
REFERENCES [dbo].[User] ([id])
GO
ALTER TABLE [dbo].[User_Product] CHECK CONSTRAINT [FK_User_Product_User]
GO
USE [master]
GO
